
/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: #0084FD;
    --dark: #1E1E1E;
    --footer: #333333;
    --primary: #9792E4;
    --secondary-light: #B5DDFF;
    --details: #FDC15F;
    --back: #FFFFFF;
}

.container {
    width: 70%;
    margin: auto;
}

.container_small {
    width: 50%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-2 {
    width: calc( (100% / 12) * 2 );
}

.col-3 {
    width: calc( (100% / 12) * 3 );
}

.col-4 {
    width: calc((100% / 12) * 4 );
}

.col-5 {
    width: calc( (100% / 12) * 5 );
}

.col-6 {
    width: calc( (100% / 12) * 6 );
}

.col-7 {
    width: calc( (100% / 12) * 7 );
}

.col-8 {
    width: calc( (100% / 12) * 8 );
}

.col-9 {
    width: calc( (100% / 12) * 9 );
}

.col-10 {
    width: calc( (100% / 12) * 10 );
}

.col-12 {
    width: calc( (100% / 12) * 12 );
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.margin {
    margin-right: 1rem;
}

.container_small {
    width: 60%;
    margin: auto;
}

.margin-more {
    margin-right: 2rem;
}

/* #endregion utility */


/* #region header */

header {
    background-color: var(--secondary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu_right {
    list-style: none;
    display: flex;
}

.menu_right a {
    margin-left: 1rem;
}

.btn {
    background-color: white;
    color: black;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}

.logo {
    width: 70px;
}

/* #endregion header */


/* #region main */

                    /* DEMO */

.demo {
    background-color: var(--back);
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.demo h2 {
    color: var(--secondary);
    padding: 1rem 0;
}


                    /* card_large */

.card_large {
    display: flex;
    background-color: var(--secondary-light);
    border-radius: 20px;
    margin-right: 1rem;
}

.phone {
    width: 100%;
    padding-top: 5rem;
    padding-right: 3rem;
}

.left {
    padding-left: 1rem;
}

.text_large {
    padding: 0 0.5rem 2rem 0.5rem;
    color: rgb(89, 89, 89);
    font-weight: bold;
    line-height: 2rem;
    font-size: 17px;
}   



                    /* card */

.card {
    background-color: var(--secondary-light);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.card i {
    font-size: 70px;
    color: var(--secondary);
    padding: 1rem 0;
}

.text_small {
    padding: 0 0.5rem 2rem 0.5rem;
    color: rgb(89, 89, 89);
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    font-size: 17px;
}


                    /*  PLANNING */

.planning {
    background-color: var(--primary);
}



.card_plan_right {
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    border-radius: 3rem;
    width: 24rem;
    margin-bottom: 3rem;
}

.card_plan_right img {
    width: 60%;
    padding-top: 3rem;
}

.card_plan_right h2 {
    padding: 1rem 0;
}

.card_plan_right p {
    padding: 0 3rem;
    text-align: center;
    font-style: italic;
    line-height: 1.5rem;
}

.card_plan_right i {
    margin: 2rem 0;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 2rem;
}


.card_plan_left img {
    width: 90%;
    padding: 7rem 0;
}

.card_plan_left h2 {
    padding-bottom: 2rem;
    color: var(--back);
    font-size: 30px;
}

.card_plan_left p {
    padding-right: 3.5rem;
    color: var(--back);
    font-size: 16px;
    line-height: 1.5rem;
}


                    /*  TESTIMONIALS */



.card_no-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
}

.card_no-bg h4 {
    font-weight: normal;
    padding-bottom: 2rem;
}

.card_no-bg h2 {
    color: var(--primary);
    font-size: 40px;
    padding-bottom: 2rem;
}


.card_no-bg p {
    font-size: larger;
    text-align: center;
    line-height: 2rem;
}

.card_testim {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.card_testim img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 1rem 2rem 1rem 1rem;
}

.card_testim p {
    padding: 1rem 1rem;
    color: var(--back);
    line-height: 2rem;
    font-size: 18px;
}

.card_testim h4 {
    padding-left: 1rem;
    color: var(--back);
}


                    /*  BENEFITS */


.benefits {
    background-color: var(--primary);
}

.benefits h2 {
    text-align: center;
    padding: 3rem 0;
    font-size: 40px;
    color: var(--back);
}

.card_benefits {
    background-color: var(--back);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.card_benefits h3 {
    color: var(--primary);
    font-size: 65px;
    padding: 1rem 0;
}

.card_benefits h4 {
    font-size: 20px;
    padding-bottom: 1rem;
    color: var(--primary);
}

.card_benefits p {
    font-size: 16px;
    line-height: 1.5rem;
    padding-bottom: 1.5rem;
    color: rgb(89, 89, 89);
    padding-right: 1rem;
}

.card_benefits .btn_more {
    background-color: var(--primary);
    padding: 0.5rem 2.5rem;
    border-radius: 3rem;
    margin-bottom: 1rem;
    font-size: small;
}

                    /*  ABOUT */

.about h2 {
    color: var(--primary);
    padding: 3rem 0 2rem 0;
    font-size: 50px;
}

.about p {
    line-height: 2rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
}

.about img {
    width: 100%;
    border-radius: 50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.about h4 {
    color: var(--primary);
    font-size: 25px;
    line-height: 2rem;
    padding-bottom: 2rem;
}

.about .btn_linked {
    background-color: var(--primary);
    padding: 0.5rem;
    border-radius: 3rem;
    font-size: small;
}

.fa-linkedin {
    margin-right: 0.5rem;
}

.card_about {
    display: flex;
    flex-direction: column;
}

                    /*  ABOUT */

.started {
    background-color: var(--primary);
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.started h5 {
    padding: 3rem 0 1.5rem 0;
    color:  var(--back);
    font-weight: normal;
    opacity: 0.7;
}

.started h3 {
    color: var(--back);
    font-size: 40px;
}

.started h2 {
    color: var(--details);
    font-size: 70px;
    padding: 2rem 0;
}

.started p {
    text-align: center;
    color: var(--back);
    padding-bottom: 2rem;
    line-height: 1.5rem;
}

.get_started {
    background-color: var(--back);
    color: var(--primary);
    padding: 1rem 3rem;
    border-radius: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.started ul {
    display: flex;
}

.started li {
    margin-left: 1.5rem;
    color: white;
    margin-bottom: 3rem;
}

.none {
    list-style: none;
}

.started li a {
    text-decoration: underline;
}



/* #endregion main */

/* #region footer */

footer{
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .p-first {
    padding: 2rem 0;
    text-align: center
}

footer .p-second {
    padding-bottom: 2rem;
    text-align: center
}

footer a {
    color: var(--primary);
    text-decoration: underline;
}

/* #endregion footer */

