
/* #region utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --secondary: #0084FD;
    --dark: #1E1E1E;
    --footer: #333333;
    --primary: #9792E4;
    --secondary-light: #B5DDFF;
    --details: #FDC15F;
    --back: #FFFFFF;
}

.container {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-3 {
    width: calc( (100% / 12) * 3 );
}

.col-4 {
    width: calc((100% / 12) * 4 );
}

.col-5 {
    width: calc( (100% / 12) * 5 );
}

.col-6 {
    width: calc( (100% / 12) * 6 );
}

.col-7 {
    width: calc( (100% / 12) * 7 );
}

.col-8 {
    width: calc( (100% / 12) * 8 );
}

.col-9 {
    width: calc( (100% / 12) * 9 );
}

.col-12 {
    width: calc( (100% / 12) * 12 );
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

.margin {
    margin-right: 1rem;
}

.container_small {
    width: 60%;
    margin: auto;
}

/* #endregion utility */


/* #region header */

header {
    background-color: var(--secondary);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu_right a {
    margin-left: 1rem;
}

.btn {
    background-color: white;
    color: black;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
}

.logo {
    width: 70px;
}

/* #endregion header */


/* #region main */

                    /* DEMO */

.demo {
    background-color: var(--back);
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.demo h2 {
    color: var(--secondary);
    padding: 1rem 0;
}


                    /* card_large */

.card_large {
    display: flex;
    background-color: var(--secondary-light);
    border-radius: 20px;
    margin-right: 1rem;
}

.phone {
    width: 100%;
    padding-top: 5rem;
    padding-right: 3rem;
}

.left {
    padding-left: 1rem;
}

.text_large {
    padding: 0 0.5rem 2rem 0.5rem;
    color: rgb(89, 89, 89);
    font-weight: bold;
    line-height: 2rem;
    font-size: 17px;
}   



                    /* card */

.card {
    background-color: var(--secondary-light);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.card i {
    font-size: 70px;
    color: var(--secondary);
    padding: 1rem 0;
}

.text_small {
    padding: 0 0.5rem 2rem 0.5rem;
    color: rgb(89, 89, 89);
    font-weight: bold;
    line-height: 2rem;
    text-align: center;
    font-size: 17px;
}


                    /*  PLANNING */

.planning {
    background-color: var(--primary);
}



.card_plan_right {
    background-color: var(--back);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15rem;
    border-radius: 3rem;
    width: 24rem;
    margin-bottom: 3rem;
}

.card_plan_right img {
    width: 60%;
    padding-top: 3rem;
}

.card_plan_right h2 {
    padding: 1rem 0;
}

.card_plan_right p {
    padding: 0 3rem;
    text-align: center;
    font-style: italic;
    line-height: 1.5rem;
}

.card_plan_right i {
    margin: 2rem 0;
    background-color: var(--primary);
    padding: 1rem;
    border-radius: 2rem;
}


.card_plan_left img {
    width: 90%;
    padding: 7rem 0;
}

.card_plan_left h2 {
    padding-bottom: 2rem;
    color: var(--back);
    font-size: 30px;
}

.card_plan_left p {
    padding-right: 3.5rem;
    color: var(--back);
    font-size: 16px;
    line-height: 1.5rem;
}


/* #endregion main */



